<html lang="en">
<head>
    <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
})(window,document,'script','dataLayer','GTM-5C43S6P');</script>
<!-- End Google Tag Manager -->
    
    <!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id=G-JEJ7YNLPGD"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'G-JEJ7YNLPGD');

<meta name="google-site-verification" content="4Vgce-xqCygkCEejsRaVZ8_0TCT43uZDvmQzbJT0F08" />

  
</script>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="https://i.ibb.co/sFnTgpd/giuseppuamar-Create-an-attention-grabbing-minimalist-2-D-cover-i-1d35ba2d-2fed-4d75-a31f-604a4d05d5b.jpg">
    <title>{{ page.title }}</title>
    <meta name="description" content="Swagcoglioni Betting is a top online sports betting website, join our discord server where you can connect with other bettors, share tips and strategies, and stay up-to-date on the latest news and events in the world of sports betting."> 
</head>
<body>
    <!-- Google Tag Manager (noscript) -->
    <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5C43S6P"
    height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
    <!-- End Google Tag Manager (noscript) -->
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
   
<nav class="navbar sticky-top navbar-dark bg-dark">
    <a class="navbar-brand" href="https://swagcog.github.io/">
    <img src="https://i.ibb.co/sFnTgpd/giuseppuamar-Create-an-attention-grabbing-minimalist-2-D-cover-i-1d35ba2d-2fed-4d75-a31f-604a4d05d5b.jpg" width="30" height="30" alt="">
  </a>
  <a class="navbar-brand" href="https://swagcog.github.io/">Swagcoglioni Betting</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="https://swagcog.github.io/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://swagcog.github.io/team">Team</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Leagues
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/ligue-1">Ligue 1</a>
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/serie-a">Serie A</a>
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/pro-league">Pro League</a>
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/super-lig">Süper Lig</a>
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/live">Live</a>
          <a class="dropdown-item" href="https://swagcog.github.io/leagues/community">Community</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="/education">Education</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="https://swagcog.github.io/about">About</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
    </nav> 
    <div class="p-5" style="background-color:#e9ecef;">
        <div class="alert alert-primary" role="alert">
  <p class="h3 text-center" >WE ARE HIRING TIPSTERS OR EXPERTS FROM EVERY COUNTRY, LEAGUE, SPORT IN THE WORLD</p>
  <p class="h5 text-center" >IF U FEEL LIKE YOU HAVE KNOWLEDGE OF ANY KIND OF BETTING SECTOR <a href="https://discord.gg/yZKTsPcekg" class="alert-link">JOIN NOW</a> AND SHARE YOUR TIPS IN YOUR OWN CHANNEL</p>
</div>
  {{ content }}
    </div>
  </body>
</html>
